name: Deploy Terraform Prod
on:
  push:
    branches:
      - main   # or prod
      # ... or other feature branches if needed
permissions:
  contents: write
  id-token: write
  pull-requests: write
jobs:
  terraform:
    runs-on: ubuntu-latest
    env:
      PIP_CACHE_DIR: ~/.cache/pip
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
      S3_PREFIX: ${{ github.ref_name }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: "1.6.0"

    - name: Terraform validate + fmt check
      working-directory: ./terraform
      run: |
        terraform validate
        terraform fmt -check -recursive

    - name: run validations
      run: |
        cd terraform
        terraform validate
        terraform fmt -check -recursive
      # optionally include tests: `terraform plan`, `terraform show`, custom linting, OPA/Checkov, etc.

    - name: run application / script deploy
      run: |
        python scripts/generate_and_deploy.py --env ${{ github.ref }}
      # or other logic depending on env