# .github/workflows/terraform-deploy-prod.yml
name: Deploy Terraform Prod

on:
  pull_request:
    branches:
      - main 
      
  push:
    branches:
      - main

permissions:
  id-token: write       # required for OIDC / AWS creds action
  contents: read        # checkout action needs this

env:
  AWS_REGION: ${{ secrets.AWS_REGION }}
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }} 
  RESUME_BUCKET: ${{ secrets.RESUME_BUCKET }}
  S3_PREFIX: prod
  TF_IN_AUTOMATION: true

jobs:
  terraform:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.14"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install flake8 pytest
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-access-key-id: ${{ env.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ env.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}
          s3-bucket: ${{ env.RESUME_BUCKET }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.6.0"

      - name: Terraform validate + fmt check
        working-directory: ./terraform
        run: |
          terraform init -backend-config="region=${{ env.AWS_REGION }}" -input=false
          terraform validate
          terraform fmt -check -recursive

      - name: Terraform init
        working-directory: ./terraform
        run: |
          terraform init -backend-config="key=resume/prod.tfstate" -input=false

      - name: Terraform plan
        working-directory: ./terraform
        run: |
          terraform plan -var-file=environments/prod.tfvars

      - name: Terraform apply (only main)
        if: github.ref == 'refs/heads/main'
        working-directory: ./terraform
        run: |
          terraform apply -auto-approve -var-file=environments/prod.tfvars

      - name: run application / script deploy
        if: github.ref == 'refs/heads/main'
        run: |
          python terraform/scripts/generate_and_deploy.py \
            --env prod \
            --bucket ${{ env.RESUME_BUCKET }} \
            --s3_prefix ${{ env.S3_PREFIX }} \
            --region ${{ env.AWS_REGION }}